<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # لو الملف أو المجلد مش موجود فعليًا
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # حوّل كل شيء إلى index.html
  RewriteRule ^.*$ index.html [L]
</IfModule>
