<div>

  <!-- Add Chapter Button -->
  <div class="mb-6 text-left ">
    <button (click)="openAddModal()" class="bg-blue-600 text-white px-5 py-2 rounded hover:bg-blue-700 transition">
      اضافة امتحان
    </button>
  </div>

  <div [formGroup]="examForm" class="mb-6 w-[70%] flex  gap-5 ">
    <div class="w-[70%]">
      <label class="text-[18px] font-medium text-gray-700 block mb-3">اختار الدرس لعرض الامتحان </label>
      <select formControlName="lessonId"
        class="w-full border px-4 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
        (change)="onLessonChange($event)">
        <option *ngFor="let item of lessonId" [value]="item._id">
          {{ item.title }}
        </option>
      </select>

    </div>
    <div class="flex flex-col justify-end">
      <button (click)="getExamByIdForLesson()" class="bg-blue-600 text-white px-5 py-2 rounded hover:bg-blue-700 transition">
        عرض الامتحان
      </button>
    </div>
  </div>

  <!-- Modal -->
  <div *ngIf="showModal" class=" fixed inset-0 bg-black bg-opacity-50 flex justify-center  items-center z-50">
    <div
      class="bg-white p-8 rounded-2xl shadow-2xl w-[70%] max-h-[90vh] scrollbar-hidden overflow-y-auto mx-auto  relative">

      <div class="flex justify-between items-center mb-4 ">
        <h2 class="text-xl font-semibold mb-4">{{ mode ? 'تعديل امتحان' : 'اضافة امتحان' }}</h2>

        <div
          class=" bg-red-500 hover:bg-red-600 text-white w-8 h-8 flex items-center justify-center rounded-full shadow-md cursor-pointer transition-all duration-300"
          (click)="closeModal()">
          ✕
        </div>

      </div>

      <!-- Form with styling and validation -->
      <form [formGroup]="chapterForm" (ngSubmit)="addOrUpdateChapter()" class="space-y-4">

        <!-- Lesson Id-->
        <div class="flex justify-between items-center gap-3">
          <div class="flex flex-col w-full">
            <label class="text-[18px] font-medium text-gray-700 mb-1">عنوان الشابتر </label>
            <select name="" id="" formControlName="lessonId"
              class="w-full border px-4 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 ">
              <option value="{{item._id}}" *ngFor="let item of lessonId">
                {{item.title}}
              </option>
            </select>
          </div>
        </div>



        <!-- الأسئلة -->
        <div formArrayName="questions" class="space-y-6">
          <div *ngFor="let questionGroup of questions.controls; let i = index" [formGroupName]="i"
            class="border border-gray-300 p-4 rounded-md bg-gray-50">

            <!-- عنوان السؤال -->
            <label class="block text-[16px] font-semibold text-gray-800 mb-2">السؤال رقم {{ i + 1 }}</label>
            <input formControlName="question" type="text" placeholder="اكتب نص السؤال"
              class="w-full border px-4 py-2 mb-3 rounded focus:outline-none focus:ring-2 focus:ring-blue-300" />

            <!-- الخيارات -->
            <div formArrayName="options" class="space-y-2">
              <label class="text-sm font-medium text-gray-600 block mb-1">الاختيارات:</label>

              <div class="grid grid-cols-2 gap-4">
                <div *ngFor="let option of getOptions(i).controls; let j = index">
                  <input [formControlName]="j" type="text" placeholder="اختيار {{ j + 1 }}"
                    class="w-full border px-3 py-1 rounded focus:outline-none focus:ring-1 focus:ring-blue-400" />
                </div>
              </div>
            </div>




            <!-- الإجابة الصحيحة -->
            <div class="mt-3">
              <label class="text-sm font-medium text-gray-600 block">الإجابة الصحيحة:</label>
              <input formControlName="correctAnswer" type="text" placeholder="الإجابة الصحيحة"
                class="w-full border px-4 py-2 rounded focus:outline-none focus:ring-2 focus:ring-green-400" />
            </div>

            <!-- الدرجة -->
            <div class="mt-3">
              <label class="text-sm font-medium text-gray-600 block">الدرجة:</label>
              <input formControlName="mark" type="number" placeholder="الدرجة"
                class="w-full border px-4 py-2 rounded focus:outline-none focus:ring-2 focus:ring-purple-400" />
            </div>

            <!-- زر حذف السؤال -->
            <div class="text-left">
              <button type="button" (click)="removeQuestion(i)"
                class="mt-4  bg-red-600 text-white px-3 py-1 rounded hover:bg-red-700">
                حذف هذاالسؤال
              </button>
            </div>
          </div>
        </div>

        <!-- زر إضافة سؤال -->
        <div>
          <button type="button" (click)="addQuestion()"
            class="bg-blue-500 text-white px-5 py-2 rounded hover:bg-blue-600 transition">+ إضافة سؤال</button>
        </div>



        <!-- Buttons -->
        <div class="flex justify-between mt-4">
          <button type="submit" [disabled]="chapterForm.invalid" *ngIf="!show"
            class="bg-green-600 cursor-pointer disabled:hover:bg-green-600 disabled:cursor-not-allowed disabled:opacity-[0.5] text-white w-[40%] px-5 py-2 rounded hover:bg-green-700 transition"
            (click)="addOrUpdateChapter()">
            {{ mode ? 'تعديل' : 'اضافة' }}
          </button>
          <button type="button" (click)="closeModal()"
            class="bg-gray-500 cursor-pointer text-white px-5 py-2 rounded hover:bg-gray-600 transition">
            Cancel
          </button>
        </div>
      </form>

    </div>
  </div>

  <!-- Chapters Table -->
  <table class="w-full bg-white shadow rounded overflow-hidden text-center">
    <thead class="bg-gray-100 text-gray-700">
      <tr>
        <th class="py-2 px-4">#</th>
        <th class="py-2 px-4">عنوان الشابتر</th>
        <th class="py-2 px-4">وصف الشابتر</th>
        <th class="py-2 px-4">
          الاحداث
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Chapter of Chapters ; trackBy : trackBy ;let i = index" class="border-b">
        <td class="py-2 px-4 align-middle ">{{ i + 1 }}</td>
        <td class="py-2 px-4 align-middle ">{{ Chapter.title }}</td>
        <td class="py-2 px-4 align-middle ">{{ Chapter.description }}</td>
        <td class="py-3 px-4 text-center align-middle">
          <div class="flex justify-center items-center ">
            <button (click)="showChapter(Chapter)"
              class="bg-blue-600 text-white px-3 py-1 rounded hover:bg-blue-700">عرض</button>
            <button (click)="editChapter(Chapter)"
              class="bg-yellow-400 text-white px-3 py-1 mx-[10px] rounded hover:bg-yellow-500">تعديل</button>
            <button (click)="deleteChapter(Chapter.id)"
              class="bg-red-600 text-white px-3 py-1 rounded hover:bg-red-700">حذف</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
